
<div class="bs-example">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>   
    <div class="carousel-inner">
      <div class="item active" style="background-image: url(<%= image_path 'card-brussels.jpg' %>)">
      </div>
      <div class="item" style="background-image: url(<%= image_path 'background.jpg' %>)">
      </div>
      <div class="item" style="background-image: url(<%= image_path 'background6.jpg' %>)">
      </div>
      <div class="item" style="background-image: url(<%= image_path 'background7.jpg' %>)">
      </div>
      <div class="item" style="background-image: url(<%= image_path 'background5.jpg' %>)">
      </div>
      <div class="item" style="background-image: url(<%= image_path 'background.jpg' %>)">
      </div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left hidden"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right hidden"></span>
    </a>
  </div>
</div>
